<section class="register">
  <body class="antialiased text-gray-900 font-sans">
    <div class="flex items-center h-screen w-full">
      <div
        class="w-full bg-white rounded shadow-lg p-8 m-4 md:max-w-sm md:mx-auto"
      >
        <span class="block w-full text-xl uppercase font-bold mb-4">REGISTER</span>
        <form class="mb-4" action="/" method="post">
          <div class="mb-4 md:w-full">
            <label for="email" class="block text-xs mb-1"
              >Name</label
            >
            <input
              class="w-full border rounded p-2 outline-none focus:shadow-outline"
              type="text"
              name="name"
              id="name"
              placeholder="Enter your Name"
            />
          </div>
          <div class="mb-4 md:w-full">
            <label for="email" class="block text-xs mb-1"
              > Email</label
            >
            <input
              class="w-full border rounded p-2 outline-none focus:shadow-outline"
              type="email"
              name="email"
              id="email"
              placeholder="Enter your Email"
            />
          </div>
          <div class="mb-6 md:w-full">
            <label for="password" class="block text-xs mb-1">Password</label>
            <input
              class="w-full border rounded p-2 outline-none focus:shadow-outline"
              type="password"
              name="password"
              id="password"
              placeholder="Password"
            />
          </div>
        <div class="flex items-center justify-between">
            <button
            class="btn-primary rounded-full text-white uppercase text-sm font-semibold px-4 py-2"
          >
            Login
          </button>
        </form>
        <a class="inline-block  align-baseline text-center text-sm font-bold" href="/login"
          >Already have account?</a
        >
        </div>
          
      </div>
    </div>
  </body>
</section>
